<!DOCTYPE html>
<html>
<head>

		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<script src="/css/jquery-2.0.0.min.js"></script>
		<script src="/css/bootstrap.min.js"></script>
		
	<title>Eat-Da-Burger</title>
</head>
<body>

</body>
</html>